@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.caution-tape {
  color: #fff;
  background-color: crimson;
  display: flex;
  justify-content: center;
}

.caution-tape a {
  text-decoration: underline;
}
